<%= if @joined do %>
  <div class="text-center">
    <h1 class="text-2xl font-black">
      Okay, you're all set. Waiting for players.
    </h1>

    <button phx-click="start_game" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Start Game
    </button>
  </div>
<%= else %>
  <h1 class="text-3xl font-black text-center">Join Game</h1>

  <div class="flex align-center">
    <div class="w-full max-w-xs m-auto">
      <form phx-submit="join" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="game_code">
            Game Code
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="game_code" type="text" placeholder="Game Code" name="game_code" autocomplete="off">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Your Name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Name" name="name" autocomplete="off">
        </div>
        <div class="flex items-center justify-between">
          <input type="submit" value="Join Game" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
      </form>
    </div>
  </div>
<% end %>
