<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "game-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :code %>
  <%= text_input f, :code %>
  <%= error_tag f, :code %>

  <%= label f, :status %>
  <%= text_input f, :status %>
  <%= error_tag f, :status %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
