<h1 class="text-3xl font-black text-center my-4">Game Started</h1>
<p class="text-2xl text-center">Go to <span class="font-mono">localhost:4000/play</span> to play!</p>

<p class="text-center mt-4">Room code:</p>
<p class="text-3xl text-purple-600 text-center"><%= @game.code %></p>


<div id="players" phx-update="append">
  <%= if @players == [] do %>
    <p>Waiting for players</p>
  <% else %>
    <p>Player List:</p>
    <%= for player <- @players do %>
      <p><%= player.name %></p>
    <% end %>
  <% end %>
</div>

